<h1>Listing caffeines</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @caffeines.each do |caffeine| %>
  <tr>
    <td><%= link_to 'Show', caffeine %></td>
    <td><%= link_to 'Edit', edit_caffeine_path(caffeine) %></td>
    <td><%= link_to 'Destroy', caffeine, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Caffeine', new_caffeine_path %>
